<launch>
	<node name="rosbag" pkg="rosbag" type="play" respawn="false" args="--delay=1 --queue=1000 $(find tag_detector)/bag/ekf_A3.bag" /> 

    <node pkg="tag_detector" type="tag_detector" name="tag_detector" output="screen">
        <!-- <remap from="~image_raw" to="/camera/image"/> -->
        <remap from="~image_raw" to="/djiros/image"/>
        <param name="cam_cal_file" type="string" value="$(find tag_detector)/config/TA_camera.yml"/>
        <param name="board_config_file" type="string" value="$(find tag_detector)/config/tag_2.yml"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tag_detector)/config/odom.rviz" />

</launch>


